<div *ngIf="loaded">
  <h2>List of local database</h2>
  <ul>
    <li *ngFor="let d of dbSettings.list"> <code>{{d.name}}</code> 
      &nbsp; <a href="d/v/{{d.name}}/view/">Open</a>
    </li>
  </ul>
  <details>
    <summary>More options</summary>
    <h2>New Database</h2>
    <input type="text" name="" id="" [(ngModel)]="newdb" >
    <button (click)="addNewDB()">Add +</button>
    <hr>
    <export-json title="DB Settings" [content]="dbSettings"></export-json>
    (Note: This file may contain sensitive information like couchdb urls with password. Share with care)
  </details>
</div>
<div *ngIf="!loaded">Loading...</div>